.select-checkbox option::before {
    content: "\2610";
    width: 1.3em;
    text-align: center;
    display: inline-block;
}

.select-checkbox option:checked::before {
    content: "\2611";
}

.my-container {
    margin-top: 70px;
}

.disabled-link {
    pointer-events: none;
}

.glyphicon {
    padding-right: 5px;
}

